<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Secondary Button Showcase | Petran Design</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../resources/css/button/button-secondary/button-secondary.css">
</head>

<body>

    <div class="__preview">
        <div class="__preview-item">
            <button class="button-secondary">
                <div class="button-space">
                    <div class="button-name">Button</div>
                </div>
            </button>
        </div>

        <div class="__preview-item">
            <button class="button-secondary with-icon icon-left">
                <div class="button-space">
                    <div class="button-icon">
                        <div class="__icon-holder">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
                                viewBox="0 0 171 171" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,171.99075v-171.99075h171.99075v171.99075z" fill="none"></path>
                                    <g fill="#333333">
                                        <path
                                            d="M30.28125,28.5c-8.79047,0 -16.03125,7.24078 -16.03125,16.03125v81.9375c0,8.79047 7.24078,16.03125 16.03125,16.03125h110.4375c8.79047,0 16.03125,-7.24078 16.03125,-16.03125v-64.125c0,-8.79047 -7.24078,-16.03125 -16.03125,-16.03125h-55.06567l-15.92688,-13.26892c-3.5205,-2.93294 -7.95543,-4.54358 -12.53833,-4.54358zM30.28125,39.1875h26.90661c2.0861,0 4.09624,0.73159 5.69861,2.06653l12.48267,10.40222l-12.48267,10.40222c-1.60237,1.33494 -3.61251,2.06653 -5.69861,2.06653h-32.25036v-19.59375c0,-3.01565 2.3281,-5.34375 5.34375,-5.34375zM85.65308,57h55.06567c3.01565,0 5.34375,2.3281 5.34375,5.34375v64.125c0,3.01565 -2.3281,5.34375 -5.34375,5.34375h-110.4375c-3.01565,0 -5.34375,-2.3281 -5.34375,-5.34375v-51.65625h32.25036c4.5829,0 9.01783,-1.61065 12.53833,-4.54358z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="button-name">Button</div>
                </div>
            </button>
        </div>

        <div class="__preview-item">
            <button class="button-secondary with-icon icon-right">
                <div class="button-space">
                    <div class="button-icon">
                        <div class="__icon-holder">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
                                viewBox="0 0 171 171" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,171.99075v-171.99075h171.99075v171.99075z" fill="none"></path>
                                    <g fill="#333333">
                                        <path
                                            d="M30.28125,28.5c-8.79047,0 -16.03125,7.24078 -16.03125,16.03125v81.9375c0,8.79047 7.24078,16.03125 16.03125,16.03125h110.4375c8.79047,0 16.03125,-7.24078 16.03125,-16.03125v-64.125c0,-8.79047 -7.24078,-16.03125 -16.03125,-16.03125h-55.06567l-15.92688,-13.26892c-3.5205,-2.93294 -7.95543,-4.54358 -12.53833,-4.54358zM30.28125,39.1875h26.90661c2.0861,0 4.09624,0.73159 5.69861,2.06653l12.48267,10.40222l-12.48267,10.40222c-1.60237,1.33494 -3.61251,2.06653 -5.69861,2.06653h-32.25036v-19.59375c0,-3.01565 2.3281,-5.34375 5.34375,-5.34375zM85.65308,57h55.06567c3.01565,0 5.34375,2.3281 5.34375,5.34375v64.125c0,3.01565 -2.3281,5.34375 -5.34375,5.34375h-110.4375c-3.01565,0 -5.34375,-2.3281 -5.34375,-5.34375v-51.65625h32.25036c4.5829,0 9.01783,-1.61065 12.53833,-4.54358z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="button-name">Button</div>
                </div>
            </button>
        </div>

        <div class="__preview-item">
            <button class="button-secondary only-icon">
                <div class="button-space">
                    <div class="button-icon">
                        <div class="__icon-holder">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16"
                                viewBox="0 0 171 171" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,171.99075v-171.99075h171.99075v171.99075z" fill="none"></path>
                                    <g fill="#333333">
                                        <path
                                            d="M30.28125,28.5c-8.79047,0 -16.03125,7.24078 -16.03125,16.03125v81.9375c0,8.79047 7.24078,16.03125 16.03125,16.03125h110.4375c8.79047,0 16.03125,-7.24078 16.03125,-16.03125v-64.125c0,-8.79047 -7.24078,-16.03125 -16.03125,-16.03125h-55.06567l-15.92688,-13.26892c-3.5205,-2.93294 -7.95543,-4.54358 -12.53833,-4.54358zM30.28125,39.1875h26.90661c2.0861,0 4.09624,0.73159 5.69861,2.06653l12.48267,10.40222l-12.48267,10.40222c-1.60237,1.33494 -3.61251,2.06653 -5.69861,2.06653h-32.25036v-19.59375c0,-3.01565 2.3281,-5.34375 5.34375,-5.34375zM85.65308,57h55.06567c3.01565,0 5.34375,2.3281 5.34375,5.34375v64.125c0,3.01565 -2.3281,5.34375 -5.34375,5.34375h-110.4375c-3.01565,0 -5.34375,-2.3281 -5.34375,-5.34375v-51.65625h32.25036c4.5829,0 9.01783,-1.61065 12.53833,-4.54358z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <div class="__preview-item">
            <button class="button-secondary indicator">
                <div class="button-space">
                    <div class="button-indicator-space">
                        <div class="button-indicator"></div>
                    </div>
                    <div class="button-name">Button</div>
                </div>
            </button>
        </div>
    </div>

</body>

</html>